body
  background: #272b30
  color: #defeef;
  text-align: center

li
  list-style: none
  a
    color: aliceblue
    text-decoration: none
    &.button
      background-color: #defeef;
      border: 1px solid;
      border-radius: 0.5em;
      color: #272b30
      font-size: x-large
      padding: 0.5em;
