extends ../layout

block menu
  .container-fluid
    .navbar-brand API blueprints

block content
  table.table.table-condensed
    thead
      tr
        th Filename
        th link to Github source
    tbody
      each file in files
        tr
          td
            a.button(href=file['name'])= file['name']
          td
            a(href=file['url']) Source
